//
//  CommonCrypto.xcconfig
//  Transloadit
//
//  Created by Mark Masterson on 2/20/18.
//  Copyright © 2018 Mark R. Masterson. All rights reserved.
//
MODULEMAP_FILE[sdk=iphoneos*]        = \
$(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = \
$(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = \
$(SRCROOT)/CommonCrypto/macosx.modulemap
